/*
=================================
* Author: Thiago Henrique Felix *
* Date: 2017/12/23              *
* Version: 0.1                  *
================================= */

/* ==========  Fontes ========== */
@import url('https://fonts.googleapis.com/css?family=Sacramento');/* font-family: 'Sacramento', cursive; */

/* ==========  Reset ========== */
* {padding: 0px;margin: 0px;font-size: 100%;font-weight: 300;border:none; }

body {background-color:#010101; color:#fff; min-width: 300px;}

a { color:#fff;text-decoration: none; }

ul {list-style: none;}

.font-site{font-family: 'Sacramento',cursive;}

/* ============ Conteiner Login ============  */
.conteiner-login { transition: 1s; width: 90%; margin:auto; height: 100%; padding: 10px 20px; }

/* ============ Logo ============  */
.logo-login {width: 100%; height: 100px; text-align: center; margin-bottom: 20px;}
.logo-login h1 {   font-size: 3.5em;}
.logo-login p { width: 100%; }


#logar-com {font-size:2em; text-align: center; margin:10px 5px; }
.conteiner-sociais { border-top:1px solid rgba(255,255,255,0.5); }

/* ============ Links Sociais ============  */
.login-social {width:90%; height:30px; margin:auto; margin-top:10px; text-align: center; line-height: 30px; cursor: pointer; padding: 3px; border:1px solid rgba(255,255,255,0.3); border-radius: 7px; }
.login-social:hover { background: rgba(255,255,255,0.1); }
.login-social i { line-height: 30px; float:left;}

.aviso-sistema { width: 100%; height:auto; text-align: center;padding:5px 5px;}

/* ========= Redimencionamento da Página ===========*/

@media screen and (min-width:550px){ .conteiner-login {width: 80%; transition: 1s; } }
@media screen and (min-width:700px){ .conteiner-login {width: 70%; transition: 1s; } }
@media screen and (min-width:866px){ .conteiner-login {width: 40%; transition: 1s; } }
@media screen and (min-width:1024px){ .conteiner-login {width: 30%; transition: 1s; } }
