/*
=================================
* Author: Thiago Henrique Felix *
* Date: 2017/12/23              *
* Version: 0.1                  *
================================= */

/* ==========  Fontes ========== */
@import url('https://fonts.googleapis.com/css?family=Sacramento');/* font-family: 'Sacramento', cursive; */

/* ==========  Reset ========== */
* {padding: 0px;margin: 0px;font-size: 100%;font-weight: 300;border:none; }

body {background-color:#010101; color:#fff; width:100%;}

a { color:#fff;text-decoration: none; }

ul {list-style: none;}

.font-site {font-family: 'Sacramento', cursive;}
/* ==========  Cabeçalho ========== */

.cabeçalho {width: 100%;height: 70px;background-color: #010101; }
.logo { margin-left:30px; float:left;font-size: 3em;font-weight: 900;font-family: 'Sacramento', cursive; color:#fff;}
/* --------- Menu ----------*/
.btn-menu { height:50px;color:#f8f1f1; background-color:#010101;width:50px;float:right;text-align:center;font-size: 1.5em; border-radius:100%;margin-top:10px;margin-right:10px;cursor:pointer;}
.menu { width:0%;height:100%;position:fixed; padding-top:70px; text-align: center;  list-style: none;   background-color: rgba(0,0,0,0.9);  }
.show-menu{ width:100%; transition: 1s; }
.hidde-menu { width:0%; transition: 1s; }
.hidde-item-menu {opacity: 0; transition: 0.2s; }
.show-item-menu {opacity: 1; transition: 4s;  }
.menu li { font-size:2em; line-height:50px; color: #fff; margin: 0px 5px 0px 5px; }
.menu li:hover { background-color:#fff; color:#010101;}
.menu li i { float:left; margin-left:25px; line-height:50px; }
.fechar{ float:right; font-size: 2em; position: fixed; top:0px; right:0px; display:none; margin: 15px 15px 0px 0px; }

/* ==========  Banner ========== */
.banner { width: 100%; height:270px; text-align:center;   background:  url("../img/bernner.jpg") no-repeat fixed ; transition: 0.5s;}
.banner h2 {font-size:2.8em; font-family: 'Sacramento', cursive;  color:#fff; padding-top:10px;}
.banner p { color:#fff; margin-top:15px;  font-size:1.6em;}
.logo-sm { font-family: 'Sacramento', cursive; color:#fff; font-size:1.5em; padding-right:10px; }
#funcionamento { display: none; }

/* ==========  Equipe ========== */
.conteiner-equipe { width:100%; margin:auto;  }
.conteiner-perfil { width: 100%; float:left}
.conteiner-perfils { width:100%; margin:auto; overflow-y: hidden;  overflow-x: auto; }
.texto { width:100%;  height:150px; margin:auto;text-align: center; margin-top:20px;}
.texto h3 { font-size: 2.3em; font-family: 'Sacramento',cursive; font-weight:500; margin-bottom:10px;  }
.texto p { line-height:25px;  }
/* --------- Perfil ----------*/
.perfil { width:350px; height:500px; margin:auto; margin-bottom: 5px; border:1px solid rgba(255,255,255,0.2); border-radius:7px; }
.foto img { width:98%; height:350px;  margin:1% 1%;  border-radius:3px;}
.nome { text-align:center;margin-top:20px; font-family: 'Sacramento', cursive; font-size: 2em; }
.funcao {  text-align:center; font-family: 'Sacramento', cursive; font-size: 2.5em;  }

/* ==========  Contato ========== */
.contato { width:95%; margin:auto; padding:2% 2%;}
.contato h3 { width: 100%; height:50px; text-align: center; font-family: 'Sacramento', cursive; font-size: 2.5em; margin:auto; margin-bottom:10px;}
.caixa-texto { width:100%; height:50px; margin-bottom:10px; text-align:center; color:#fff; background:#010101; border:1px solid rgba(255,255,255,0.3); border-radius: 7px;}
.textarea { height: 200px; padding-top:20px; font-family: sans-serif; }
.btn {  width:100%; height: 50px; background: #fff; cursor:pointer; text-align: center; border:1px solid rgba(255,255,255,0.3); color:#010101; border-radius: 7px;}

/* ==========  Rodapé ========== */
.rodape { left:0px; bottom:0px; width:100%; margin-top:10px; }
.redes-sociais a { padding:10px; font-size: 1.5em; color:rgba(255,255,255,0.3); }
.redes-sociais a:hover {  color:rgba(255,255,255,1); }
.redes-sociais { text-align: center; height: auto; width:100%; margin:auto; margin-bottom:10px;}
.rodape .direitos-autorais {text-align: center; margin-bottom: 15px;}

/* ======== Mover para o inicio ============ */
.mover-para-inicio { position:fixed; width:60px; height:60px; background:gray; border-radius: 7px; cursor: pointer; bottom:4px; right:4px; }
.mover-para-inicio i { width: 100%; height:100%; margin:auto; }



/* ==========  MEDIA MIN - 866 ========== */
@media screen and (min-width:866px) {

  .conteiner-perfil { width: 49%; }

  /* === Mudando o Menu === */
  .btn-menu {display: none;}
  .fechar { display:none;}
  .menu { display:block !important;  width:auto; padding-top: 0px; padding-right: 40px; position:static; margin:auto; height:70px; margin-top:0px; float:right; list-style: none; background: #010101; }
  .menu li { width:auto; display:inline-block; padding:10px; margin:0% 0%; font-size: 1.3em; height:50px; }
  .menu i { display: none;}
  #funcionamento { display:block; }
  .show-menu{ width:auto; transition: 1s; }
  .hidde-menu { width:auto; transition: 1s; }
  .hidde-item-menu {opacity: 1; transition: 0.2s; }
  .show-item-menu {opacity: 1; transition: 4s;  }
  #logar:hover { background:rgba(178,34,34,1); color:#fff;}
}
/* ==========  MEDIA MIN - 1350 ========== */
@media screen and (min-width: 1350px) {.conteiner-perfil { width: 33%; }}
/* ==========  MEDIA MIN - 1025 ========== */
@media screen and (min-width:1025px) {.banner { background: lightgray url("../img/bernner-1920.jpg") no-repeat fixed; transition: 0.5s;}.contato { width:60%; margin:auto; padding:2% 2%;  }}
