/*
 ===================================================================
  @Arquivo: Style Session
  @Autor: Thiago Henrique Felix <thiagoacdc12@gmail.com>
  @Data:   13/01/2018
  @Projeto: La-Rose
 ===================================================================
*/

/* ==========  Fontes ========== */
@import url('https://fonts.googleapis.com/css?family=Sacramento');


/* Padronização */

* {  padding:0px; margin:0px; box-sizing: border-box; font-family: arial; }
a {text-decoration: none}
body {  background:#dedede;  }

.text-justify {text-align: justify;}
.text-center { text-align:center; }

/* HEADER */
.header {  position: absolute; width:100%; height:50px; background: #fff; z-index:2;}
.logo-header {  width: 200px; height: 100%;  text-align: center; float:left; font-family:'Sacramento',cursive; font-size: 2.5em;}
.btn-menu { width: 100px; height: 100%;text-align: center; float:right; padding:10px; font-size: 2em; }
.btn-menu:hover {   cursor:pointer; }

.user-name { display: none; float:right; height:50px; padding:20px;}

/*NAV-ASIDE*/
.nav-aside { transition: 1s; position: absolute; width: 100%; height:100%; background:#fff; z-index:1; padding-top:50px; display: none; }
.nav-aside ul { text-decoration: none; }
.nav-aside ul  a { text-decoration: none; color:#000000; }
.nav-aside ul li {  width: 100%; height: 60px; text-align: center; padding: 20px;}
.nav-aside ul a li span i {  float:left;}
.nav-aside ul a li:hover {  box-shadow: 0px 5px 2px 2px #dedede; } 
.sair:hover {  background:red; color:#fff; }


.header-menu {  width:99%; margin:auto; padding:10px; padding-left:20px; border-bottom:1px solid #eaeaea; color:#000000; text-align: center; }
.header-menu i {float:left;}

/*MAIN-CONTENT*/
.main-content {  width: 100%;  background:#fff; padding-top:60px; } 

/*ARTICLE*/
.article { width: 100%; padding: 5px; }
.article-header {  width: 80%; height:40px; margin:auto;  color:#000000; text-align: center; border-bottom: 1px solid #dedede;  font-family: 'Sacramento', cursive; font-size: 2em;}
.article-body {width: 100%; padding:20px; height: auto;}



/*================ AVISO ================*/
.alerta {  width:100%; word-wrap: break-word; background:#000000; color:#010101; color:#fff; text-align:center; margin-bottom: 5px; padding:10px;}
.alerta i { float:left; }

/*==================== PAGINA AVISO ========================*/

/* -------- CADASTRO AVISO --------- */
#titulo-aviso {  width:100%; height: 40px; border:none; box-shadow: 0px 0px 5px 5px #dedede; margin-bottom: 20px; }
#texto-aviso {  width: 100%; height: 150px; padding: 20px; border:none; box-shadow: 0px 0px 5px 5px #dedede; }
#select-aviso { width: 100%; height: 40px; margin-top:15px; margin-bottom: 5px; text-align-last:center; border: 1px solid #fff; box-shadow: 0px 0px 5px 5px #dedede;  }
#btn-aviso { width: 100%; height:50px;  background: #000000; color:#fff; border:1px solid #000000; }
/* HOVER */
#btn-aviso:hover { background:#292929; cursor: pointer; }

/*================ Links rápidos ================*/
#option-cad-aviso { width: 100%; height: 50px; background:blue; padding:15px; color:#fff; transition: 1s;  }
#option-cad-aviso:hover {box-shadow: 0px 0px 5px 5px #cfcff1;  }


/* TABELA DE AVISOS */
#table-aviso { width:100%; margin:auto; text-align:center; padding:5px; }
#table-aviso td { padding:10px;}
#btn-table-alter { padding:10px; background:blue; color:#fff; border:none; margin-top:5px; }
#btn-table-alter:hover { box-shadow:0px 0px 5px 5px #dedede; }
#btn-table-del {padding:10px; background:red; color:#fff; border:none; margin-top:5px;}

/*TABLE PAGINATION*/
#table-pagination {  width: 310px; padding:10px;  margin:auto; margin-top:20px; }
#table-pagination ul li { display: inline-block; text-decoration: none; padding:10px; color:#000000; }
#table-pagination ul li:hover { background:#dedede; }

/*PAGINA ATUAL*/
.selected { background:#e2e2e2; color:#fff; }

/* MEDIA SCREEN */
@media screen and (min-width:866px){

	/*HEADER*/
	.btn-menu {display:none;}
	.user-name { display: block; }

	/*NAV-ASIDE*/
	.nav-aside { display: block!important; width:230px; }

	/*MAIN-CONTENT*/
	.main-content { padding-left: 240px; }


	/*==================== PAGINA AVISO ========================*/

	/* -------- CADASTRO AVISO --------- */
	#form-aviso {  width: 70%; margin:auto;  }

	/*================ Links rápidos ================*/
	#option-cad-aviso { width: 100px; height:70px;  }
	#option-cad-aviso span:nth-child(2) { line-height: 30px;}



}/*MEDIA SCREEN 866PX*/


