/*
=================================
* Author: Thiago Henrique Felix *
* Date: 2017/12/28              *
* Version: 0.1                  *
================================= */

.main-content { width:80%; height:auto; margin:auto;  margin-bottom:100px; text-align: center; }
.main-content h1 { font-family: 'Sacramento',cursive; font-size: 5em; margin-top: 50px; }
.main-content p { font-size: 1.5em; }
